<div class="ph3 bg-off-white">
        <div class="center mw6 pv3">
            <h1 class="f2 b lh-title mb2">{{.title}}</h1>
    
    <button
    class="snipcart-add-item"
    data-item-id="2"
    data-item-name="Bacon"
    data-item-price="3.00"
    data-item-weight="20"
    data-item-url="http://myapp.com/products/bacon"
    data-item-description="Some fresh bacon">
    Buy bacon
</button>

<div class="snipcart-summary">
    Number of items: <span class="snipcart-total-items"></span>
    Total price: <span class="snipcart-total-price"></span>
</div>

<a href="#" class="snipcart-checkout">Click here to checkout</a>
</div></div>