<!-- Contact -->
<div class="mb4">
  <form name="contact" netlify-honeypot="bot-field" action="thank-you" netlify>
      <p style="display:none;">
          <label>Don’t fill this out: <input name="bot-field"></label>
        </p>
      <div class="mt3">
          <fieldset>
          <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2" value="">
          <label for="name">Name</label>
          </fieldset>
      </div>
      <div class="mt3">
          <fieldset>
          <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2" value="">
          <label for="email">Email</label>
          </fieldset>
      </div>
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="ville" name="ville" placeholder="Ville" class="w-100 mb2">
          <label for="ville">Ville</label>
        </fieldset>
      </div>
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="postalCode" name="postalcode" placeholder="Code postal" class="w-100 mb2">
          <label for="postalCode">Code postal</label>
        </fieldset>
      </div>
      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="phone" name="phone" placeholder="Telephone" class="w-100 mb2">
          <label for="phone">Telephone</label>
        </fieldset>
      </div>
      <br />
      <fieldset>
          <legend>Cochez le ou les service (s) désiré(s)</legend>
          <input type="checkbox" name="services[]" value="Residential">Nettoyage résidentiel personnalisé<br />
          <input type="checkbox" name="services[]" value="Deep">Grand Ménage<br />
          <input type="checkbox" name="services[]" value="Moving">Nettoyage avant et après déménagement<br />
          <input type="checkbox" name="services[]" value="Regular">Entretien ménager occasionnel et régulier <br />
          <input type="checkbox" name="services[]" value="Walk">Promenade pour vos pitous<br />
      </fieldset>
      <br />
    <fieldset>
        <legend>Questions / Commentaires </legend>
      <textarea name="message" placeholder="Your message" rows="8" cols="80" id="message" class="w-100"></textarea>
      <label for="message">Your message</label>
    </fieldset>
        <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>
