{{ partial "head" . }}

{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" .Params.menu.main.name ) }}
<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="/img/logo.svg" alt="" class="db w6 center pv4">

		<p></p>

		<div class="pb4">
			{{ range .Params.testimonials }}
			  {{ partial "blockquote" . }}
			{{ end }}
		  </div>

		<h3 class="f4 b lh-title mb2">{{ .Params.estimation.heading }}</h3>
		
		{{ partial "contact-form" . }}
		
		<div class="flex-ns mb3">

			<div>
				<h4 class="f4 b lh-title mb2 primary">{{ .Params.info.heading }}</h4>
				<p>{{ .Params.info.phone }}<br />
				{{ .Params.info.email }}</p>
			</div>

			<div>
				<h4 class="f4 b lh-title mb2 primary">{{ .Params.schedule.heading }}</h4>
				<p>{{ .Params.schedule.content }}</p>
			</div>

		</div>
	</div>
</div>

{{ partial "footer" . }}
